{{#each products}}
<div class="row">
  {{!-- we place this here cause we are iterating the column here for each individual products container --}} 
  {{#each this}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagePath}}"
        class="image-responsive" alt="...">
      <div class="caption">
        <h3>{{this.Title}}</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit magni, modi qui eligendi aspernatur, necessitatibus
          id incidunt fugit aut laudantium ea officia quisquam nulla nostrum nesciunt beatae exercitationem et omnis?</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}

